.background {
  fill: #eee;
}

line {
  stroke: #fff;
}

rect.active {
  fill: red;
}

text.active {
  fill: red;
}
html {
  min-width: 1040px;
}

.html .attribute,
.css .attribute,
.javascript .class,
.javascript .special {
  color: #e6550d;
}

svg {
  font: 10px sans-serif;
}

.details {
  margin-top: 100px;
  margin-bottom: 100px;
  border: 1px;
  border-color: black;
  border-style: solid;
}
